$color_1: #fff;
$color_2: #b5b5b5;
$color_3: #141414;
$color_4: #010101;
$color_5: #eeeded;
$color_6: #3b3b3b;
$color_7: transparent;
$color_8: red;
$color_9: #9ea5a5;
$color_10: #818181;
$color_11: #000;
$color_12: hsla(0, 0%, 100%, .75);
$font-family_1: arial, helvetica, sans-serif;
$font-family_2: Plumb, sans-serif;
$font-family_3: Plumb;
$font-family_4: icomoon;
$font-family_5: Helvetica Neue, Helvetica, Arial, sans-serif;
$background-color_1: #000;
$background-color_2: transparent;
$background-color_3: hsla(0, 0%, 100%, .5);
$background-color_4: #fff;
$background-color_5: #141414;
$background-color_6: #dcdcdc;
$background-color_7: hsla(0, 0%, 100%, .75);
$background-color_8: rgba(0, 0, 0, .8);
$background-color_9: rgba(0, 0, 0, .7);
$border-color_1: #fff;
$border-color_2: hsla(0, 0%, 100%, .4);
$border-bottom-color_1: hsla(0, 0%, 100%, .5);
$border-bottom-color_2: #fff;
$border-bottom-color_3: red;
$border-bottom-color_4: transparent;

/* .fp-tableCell .wrapper {
    padding-right: 220px;
    z-index: 5;
} */
/* .fullpage-wrapper {
    overflow: hidden;
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important;
    -webkit-transition: all 0ms ease!important;
    transition: all 0ms ease!important;
    height: 100vh!important;
}
.fullpage-wrapper .fp-section.fp-table {
    position: absolute!important;
} */
/* .section.active~.section {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    z-index: 200;
} */
/* .fp-section, .fp-section.fp-table, .fp-section .fp-tableCell, .fp-slide, .fp-slide.fp-table, .fp-slide .fp-tableCell {
    position: relative;
    overflow: hidden;
} */
/* .fp-tableCell {
    vertical-align: bottom;
    padding-bottom: 100px;
} */

#fp-nav.right {
	right: 17px;
}
#fp-nav.left {
	left: 17px;
}
.fp-slidesNav {
	position: absolute;
	z-index: 4;
	opacity: 1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	left: 0 !important;
	right: 0;
	margin: 0 auto !important;
	ul {
		margin: 0;
		padding: 0;
		li {
			width: 14px;
			height: 13px;
			margin: 7px;
			position: relative;
			display: block;
			display: inline-block;
			a {
				display: block;
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				cursor: pointer;
				text-decoration: none;
				span {
					border-radius: 50%;
					position: absolute;
					z-index: 1;
					height: 4px;
					width: 4px;
					border: 0;
					background: #333;
					left: 50%;
					top: 50%;
					margin: -2px 0 0 -2px;
					-webkit-transition: all .1s ease-in-out;
					transition: all .1s ease-in-out;
				}
			}
			&:hover {
				a.active {
					span {
						height: 12px;
						width: 12px;
						margin: -6px 0 0 -6px;
						border-radius: 100%;
					}
				}
				a {
					span {
						width: 10px;
						height: 10px;
						margin: -5px 0 0 -5px;
					}
				}
			}
			a.active {
				span {
					height: 12px;
					width: 12px;
					margin: -6px 0 0 -6px;
					border-radius: 100%;
				}
			}
		}
	}
}
.fp-slidesNav.bottom {
	bottom: 17px;
}
.fp-slidesNav.top {
	top: 17px;
}
#fp-nav {
	ul {
		margin: 0;
		padding: 0;
		li {
			display: block;
			width: 14px;
			height: 13px;
			margin: 7px;
			position: relative;
			a {
				display: block;
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				cursor: pointer;
				text-decoration: none;
				span {
					border-radius: 50%;
					position: absolute;
					z-index: 1;
					height: 4px;
					width: 4px;
					border: 0;
					background: #333;
					left: 50%;
					top: 50%;
					margin: -2px 0 0 -2px;
					-webkit-transition: all .1s ease-in-out;
					transition: all .1s ease-in-out;
				}
			}
			&:hover {
				a.active {
					span {
						height: 12px;
						width: 12px;
						margin: -6px 0 0 -6px;
						border-radius: 100%;
					}
				}
				a {
					span {
						width: 10px;
						height: 10px;
						margin: -5px 0 0 -5px;
					}
				}
				.fp-tooltip {
					-webkit-transition: opacity .2s ease-in;
					transition: opacity .2s ease-in;
					width: auto;
					opacity: 1;
				}
			}
			a.active {
				span {
					height: 12px;
					width: 12px;
					margin: -6px 0 0 -6px;
					border-radius: 100%;
				}
			}
			.fp-tooltip {
				position: absolute;
				top: -2px;
				color: $color_1;
				font-size: 14px;
				font-family: $font-family_1;
				white-space: nowrap;
				max-width: 220px;
				overflow: hidden;
				display: block;
				opacity: 0;
				width: 0;
				cursor: pointer;
			}
			.fp-tooltip.right {
				right: 20px;
			}
			.fp-tooltip.left {
				left: 20px;
			}
		}
	}
	right: -80px;
	opacity: 0;
}
#fp-nav.fp-show-active {
	a.active+.fp-tooltip {
		-webkit-transition: opacity .2s ease-in;
		transition: opacity .2s ease-in;
		width: auto;
		opacity: 1;
	}
}
.fp-auto-height.fp-section {
	height: auto !important;
}
.fp-auto-height {
	.fp-slide {
		height: auto !important;
	}
	.fp-tableCell {
		height: auto !important;
	}
}
.fp-responsive {
	.fp-auto-height-responsive.fp-section {
		height: auto !important;
	}
	.fp-auto-height-responsive {
		.fp-slide {
			height: auto !important;
		}
		.fp-tableCell {
			height: auto !important;
		}
	}
}
header.show-nav {
	.btn-border {
		opacity: 0;
	}
}
.section {
	.wrapper {
		z-index: 2;
	}
	h2 {
		span {
			font-size: 18px;
		}
	}
}
.section-study {
	.section-bg {
		background-image: url(../img/section-study.f9e8aecc.jpg);
	}
	h2 {
		margin-bottom: 25px;
	}
	.wrapper {
		padding-right: 400px;
		padding-right: 350px;
	}
}
.section-portfolio {
	.section-bg {
		background-image: url(../img/section-portfolio.eebe22c8.jpg);
	}
	h2 {
		margin-bottom: 57px;
	}
}
.section-reviews {
	.section-bg {
		background-image: url(../img/section-reviews.ccac1fee.jpg);
	}
}
.section-contact {
	.section-bg {
		background-image: url(../img/section-contact.73ecef15.jpg);
	}
	.fp-tableCell {
		padding-top: 15.5%;
		vertical-align: top;
	}
}
.next-slide {
	color: $color_2;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	border-bottom: 1px solid transparent;
	&:hover {
		border-bottom-color: $border-bottom-color_1;
	}
}
.next-slide-wrap {
	padding-left: 39%;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 37%;
		height: 1px;
		background-color: $background-color_3;
	}
}


body {
	&:not(.fp-viewing-main) {
		.main-pagination__item {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.big-logo {
	position: absolute;
	left: 18.5%;
	top: -111px;
	font-size: 185vh;
	opacity: .05;
	color: $color_1;
	z-index: 2;
}
.big-logo_reverse {
	-webkit-transform: scale(-1);
	transform: scale(-1);
	top: auto;
	bottom: -111px;
	left: auto;
	right: 18.4%;
}
.section-tecnhology {
	background-image: url(../img/point.d5fbcc53.png);
	background-size: auto;
	background-position: 0 100%;
	background-repeat: no-repeat;
	p {
		max-width: 600px;
	}
	h2 {
		margin-bottom: 30px;
	}
}
.section-white {
	h2 {
		span {
			font-size: 18px;
		}
		color: $color_3;
	}
	background-color: $background-color_4;
	color: $color_3;
	p {
		color: $color_3;
	}
}
.section-white-img {
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
	width: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../img/tecnhology.48c437fe.jpg);
}
.section-white-img-paint {
	background-image: url(../img/paint-bg.8c82e7ed.jpg);
}
.tecnhology-list {
	padding-left: 80px;
}
.tecnhology-list__item {
	position: relative;
	margin-bottom: 8px;
	color: $color_3;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: calc(100% + 15px);
		width: 300px;
		height: 1px;
		background-color: $background-color_5;
		top: 50%;
	}
}
.bg-text {
	position: absolute;
	opacity: .1;
	color: $color_3;
	font-size: 9.5vw;
	font-weight: 900;
	line-height: 200px;
	text-transform: uppercase;
	left: 0;
	bottom: 77%;
	white-space: nowrap;
}
.section-paint {
	background-image: url(../img/point.d5fbcc53.png);
	background-size: auto;
	background-position: 0 100%;
	background-repeat: no-repeat;
	p {
		border-bottom: 1px solid #000;
		max-width: 566px;
		padding: 0 15px 15px 0;
		margin-top: 80px;
		a {
			font-weight: 900;
			color: $color_4;
		}
	}
	h2 {
		margin-bottom: 25px;
	}
}
.study-slider__item {
	padding: 15px;
}
.study-slider__link {
	display: block;
	width: 100%;
	text-align: center;
	img {
		max-width: 100%;
		max-height: 270px;
		display: inline-block;
		-webkit-box-shadow: -.4px 5px 6.6px .4px rgba(0, 0, 0, .64);
		box-shadow: -.4px 5px 6.6px .4px rgba(0, 0, 0, .64);
	}
}
.slick-arrow {
	position: absolute;
	right: -25px;
	padding: 0;
	background-color: $background-color_2;
	border: none;
	color: $color_5;
	font-size: 46px;
}
.slick-arrow.slick-disabled {
	color: $color_6;
}
.slick-prev {
	top: 15px;
}
.slick-next {
	bottom: 15px;
}
.study-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	.tecnhology-list {
		margin-bottom: 25px;
	}
	.tecnhology-list__item {
		color: $color_2;
		font-weight: 700;
		font-size: 16px;
		&:before {
			background: #b5b5b5;
		}
		a {
			color: $color_2;
			&:hover {
				opacity: .6;
			}
		}
	}
}
.study-row__text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-right: 40px;
	p {
		max-width: 550px;
		font-size: 16px;
		font-weight: 700;
		color: $color_2;
		a {
			color: $color_1;
		}
	}
}
.study-row__slider {
	width: 480px;
}
.reviews-slider {
	margin-left: 10%;
}
.reviews-slider__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0 40px 30px 30px;
}
.reviews-slider__img {
	position: relative;
	width: 404px;
	img {
		display: block;
		width: 100%;
		position: relative;
		z-index: 2;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -30px;
		top: 30px;
		width: 100%;
		height: 100%;
		border: 1px solid #fff;
	}
}
.reviews-slider__cont {
	padding-left: 35px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.reviews-slider__name {
	color: $color_1;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.reviews-slider__prof {
	font-family: $font-family_3;
	font-weight: 400;
	text-transform: uppercase;
	color: $color_2;
	font-size: 18px;
	line-height: 24px;
}
.reviews-slider__quote {
	color: $color_2;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	padding: 40px 80px;
	position: relative;
	&:before {
		left: 0;
		top: 0;
		font-family: $font-family_4 !important;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $color_1;
		position: absolute;
		font-size: 35px;
	}
	&:after {
		font-family: $font-family_4 !important;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $color_1;
		position: absolute;
		font-size: 35px;
		right: 0;
		bottom: 0;
	}
}
.warn-landscape {
	display: none;
}
.slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	li {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
	li.slick-active {
		button {
			background: #fff;
		}
	}
	button {
		padding: 0;
		margin: 0;
		width: 32px;
		height: 8px;
		border: 1px solid #fff;
		-webkit-transition: all .3s;
		transition: all .3s;
		background: transparent;
		color: $color_7;
		&:hover {
			background-color: $background-color_4;
		}
	}
}
.contacts-row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 7.5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 73px;
}
.social-list__item {
	margin-right: 18px;
	&:last-child {
		margin-right: 0;
	}
}
.social-list__link {
	color: $color_1;
	font-size: 36px;
	display: block;
	border: 1px solid transparent;
	overflow: hidden;
	i {
		display: block;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	&:hover {
		border-color: $border-color_1;
		i {
			-webkit-transform: scale(.65) rotate(8deg);
			transform: scale(.65) rotate(8deg);
		}
	}
}
.contacts-inf {
	h2 {
		margin-bottom: 13px;
	}
}
.contact-inf {
	margin-top: 30px;
}
.contact-inf__item {
	margin-bottom: 18px;
	&:last-child {
		margin-bottom: 0;
	}
}
.contact-inf__link {
	color: $color_1;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	i {
		width: 24px;
		margin-right: 10px;
		text-align: center;
		font-size: 18px;
		-webkit-transition: all .3s;
		transition: all .3s;
		display: block;
	}
	i.icon-mail {
		font-size: 15px;
	}
	span {
		border-bottom: 1px solid transparent;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	&:hover {
		i {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
		span {
			border-bottom-color: $border-bottom-color_2;
		}
	}
}
.box-field {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 22px;
}
.box-field__label {
	color: $color_1;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	position: absolute;
	left: -100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s;
	transition: all .3s;
}
.box-field__input {
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: -100%;
		bottom: 0;
		background: #fff;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
}
.box-field__input.invalid {
	&:before {
		left: 0;
		background: red;
	}
}
.box-field.focused {
	.box-field__label {
		top: -5px;
	}
}
.helper-text {
	color: $color_1;
	font-size: 12px;
	line-height: 15px;
	display: block;
	padding-top: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.helper-text.invalid {
	color: $color_8;
}
.form-control {
	background-color: $background-color_2;
	border: none;
	color: $color_1;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .2);
	width: 100%;
	padding: 10px 0;
	&:-moz-placeholder {
		color: $color_1;
		opacity: 1;
		text-transform: uppercase;
	}
	&::-moz-placeholder {
		color: $color_1;
		opacity: 1;
		text-transform: uppercase;
	}
	&::-webkit-input-placeholder {
		color: $color_1;
		text-transform: uppercase;
	}
	&:-ms-input-placeholder {
		color: $color_1;
		opacity: 1;
		text-transform: uppercase;
	}
	&:active {
		border-bottom: 1px solid #fff;
	}
	&:focus {
		border-bottom: 1px solid #fff;
	}
}
.form-control.invalid {
	border-bottom-color: $border-bottom-color_3;
}
textarea.form-control {
	resize: none;
	min-height: 100px;
	display: block;
}
.btn-send {
	background-color: $background-color_2;
	border: none;
	color: $color_1;
	font-size: 30px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
	position: relative;
	padding: 0;
	white-space: nowrap;
	&:before {
		content: "\412\456\434\43F\440\430\432\438\442\438";
		position: absolute;
		left: 0;
		top: 0;
		color: $color_9;
		width: 0;
		overflow: hidden;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
}
.contacts-form {
	position: relative;
	width: 80%;
	max-width: 585px;
	form {
		position: relative;
		z-index: 2;
	}
	h2 {
		position: relative;
		z-index: 2;
		margin-bottom: 25px;
	}
}
.contacts-form__logo {
	position: absolute;
	left: -67px;
	top: -20px;
	opacity: .05;
	z-index: 1;
	svg {
		width: 453px;
		height: 472px;
	}
}
.email-send {
	padding-top: 50px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: $color_1;
	position: relative;
	z-index: 3;
}
.email-send__title {
	margin-bottom: 25px;
}
.email-send__link {
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: $color_1;
	height: 40px;
	border: 1px solid #fff;
	padding: 10px 25px;
	&:hover {
		opacity: .6;
	}
}
.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 65px;
}
.tabs__item.active {
	.tabs__link {
		color: $color_1;
		border-color: $border-color_1;
	}
}
.tabs__link {
	color: $color_10;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	height: 43px;
	border: 1px solid transparent;
	padding: 8px 25px 0;
	&:hover {
		color: $color_1;
	}
}
.works-slider {
	margin: 0 -15px;
	.slick-dots {
		padding-right: 15px;
		margin-top: 25px;
	}
}
.works-slider__item {
	padding: 10px 15px;
	overflow: auto;
}
.works-slider__card {
	background-color: $background-color_6;
	-webkit-box-shadow: 0 6px 7.7px .3px rgba(0, 0, 0, .29);
	box-shadow: 0 6px 7.7px .3px rgba(0, 0, 0, .29);
	position: relative;
	cursor: pointer;
	overflow: hidden;
	&:hover {
		.works-slider__cont {
			left: 0;
		}
	}
}
.works-slider__cont {
	position: absolute;
	left: -100%;
	top: 0;
	width: 70%;
	text-align: center;
	height: 100%;
	bottom: 0;
	background-color: $background-color_4;
	padding: 15px 25px;
	-webkit-transition: all .3s;
	transition: all .3s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.works-slider__name {
	color: $color_11;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.works-slider__desc {
	font-size: 16px;
	padding: 15px 0;
	color: $color_11;
	font-weight: 400;
	line-height: 18px;
}
.works-slider__tags {
	color: $color_11;
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
	position: relative;
	padding-top: 15px;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -17px;
		top: 0;
		width: 34px;
		height: 1px;
		background-color: $background-color_1;
	}
}
.works-slider__links {
	color: $color_11;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #000;
	display: inline-block;
	margin-top: 10px;
	&:hover {
		border-bottom-color: $border-bottom-color_4;
	}
}
.works-slider__img {
	img {
		display: block;
		max-width: 100%;
	}
}
.filter {
	color: $color_1;
	margin-right: 25px;
	cursor: pointer;
}
.no-scroll {
	.fullpage-wrapper {
		z-index: 1000;
	}
	header {
		z-index: 1;
	}
	overflow-y: hidden;
}
.vue-lb-box {
	width: 100%;
}
.vue-lb-container {
	align-items: center;
	background-color: $background-color_8;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
	-webkit-align-items: center;
	-moz-box-sizing: border-box;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
}
.vue-lb-content {
	margin-bottom: 60px;
	max-width: 1024px;
	position: relative;
}
.vue-lb-header {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	height: 40px;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
}
.vue-lb-button-close {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	top: 0;
	vertical-align: bottom;
	height: 40px;
	margin-right: -10px;
	padding: 10px;
	width: 40px;
}
.vue-lb-figure {
	margin: 0;
	display: block;
	position: relative;
}
img.vue-lb-modal-image {
	max-height: calc(100vh - 140px);
	cursor: pointer;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.vue-lb-info {
	visibility: initial;
	position: absolute;
	bottom: 25px;
	background-color: $background-color_9;
	height: 40px;
	width: 100%;
	font-family: $font-family_5;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: $color_1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.vue-lb-footer {
	color: $color_1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: auto;
	justify-content: space-between;
	left: 0;
	line-height: 1.3;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	-moz-box-sizing: border-box;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
}
.vue-lb-footer-info {
	display: block;
	-webkit-box-flex: 1;
	flex: 1 1 0;
	-webkit-flex: 1 1 0;
	-ms-flex: 1 1 0;
}
.vue-lb-footer-count {
	color: $color_12;
	font-size: .85em;
	padding-left: 1em;
}
.vue-lb-thumbnail {
	bottom: 10px;
	height: 50px;
	padding: 0 50px;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	position: relative;
}
.vue-lb-modal-thumbnail {
	-webkit-box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .2);
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .2);
	background-position: 50%;
	background-size: cover;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin: 2px;
	overflow: hidden;
	width: 50px;
}
.vue-lb-modal-thumbnail-active {
	background-position: 50%;
	background-size: cover;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin: 2px;
	overflow: hidden;
	width: 50px;
	-webkit-box-shadow: inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0 2px #fff;
}
.vue-lb-thumbnail-arrow {
	height: 54px;
	width: 40px;
	background: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	position: absolute;
	top: 50%;
	-webkit-touch-callout: none;
	user-select: none;
	height: 50px;
	margin-top: -25px;
	width: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.vue-lb-thumbnail-left {
	left: 10px;
}
.vue-lb-thumbnail-right {
	right: 10px;
}
.vue-lb-arrow {
	background: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	position: absolute;
	top: 50%;
	-webkit-touch-callout: none;
	user-select: none;
	height: 120px;
	margin-top: -60px;
	width: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.vue-lb-left {
	left: 10px;
}
.vue-lb-right {
	right: 10px;
}
.vue-lb-open {
	overflow: hidden;
}
.vue-lb-thumbnail-wrapper {
	bottom: 10px;
	height: 50px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: auto;
}
.fade-enter {
	opacity: 0;
}
.fade-leave-to {
	opacity: 0;
}
@media screen and (max-height:800px)and (min-width:1024px) {
	header {
		padding-top: 18px;
	}
	.fp-tableCell {
		padding-bottom: 25px;
	}
	.tabs {
		margin-bottom: 15px;
	}
	.section-contact {
		.fp-tableCell {
			padding-top: 8%;
		}
	}
	.fullpage-nav {
		&:before {
			height: 20%;
		}
		&:after {
			height: 10px;
		}
	}
	.fullpage-nav-icon {
		bottom: 35px;
	}
	.study-slider__link {
		img {
			max-height: 200px;
		}
	}
	.study-row__slider {
		width: 300px;
	}
}
@media screen and (max-width:1801px) {
	.button-nav {
		position: relative;
		right: auto;
		top: auto;
	}
	header {
		.wrapper {
			padding-right: 40px;
		}
	}
	.fullpage-nav {
		right: 100px;
	}
	.main-pagination {
		right: 105px;
	}
}
@media screen and (max-width:1740px) {
	.button-nav {
		position: relative;
		right: auto;
	}
	header {
		.wrapper {
			padding-right: 40px;
		}
	}
	.fullpage-nav {
		right: 89px;
	}
	.main-pagination {
		right: 93px;
	}
}
@media screen and (max-width:1400px) {
	header {
		.btn-border {
			margin-right: 30px;
		}
	}
	.wrapper {
		padding: 0 30px;
	}
	.fullpage-nav {
		right: 71px;
	}
	.main-pagination__text {
		font-size: 14px;
		line-height: 18px;
		left: -90px;
	}
	.main-pagination {
		right: 77px;
	}
	.fp-tableCell {
		.wrapper {
			padding-right: 186px;
		}
	}
}
@media screen and (max-height:900px) {
	.main-nav-list__item {
		margin-bottom: 0;
	}
}
@media screen and (max-height:800px) {
	.main-nav-list__link {
		font-size: 40px;
		line-height: 65px;
	}
}
@media screen and (max-height:700px) {
	.main-nav-list__link {
		font-size: 30px;
		line-height: 55px;
	}
}
@media screen and (max-height:600px) {
	.main-nav {
		padding-top: 100px;
	}
}
@media screen and (max-height:500px) {
	.main-nav-list__link {
		font-size: 22px;
		line-height: 35px;
	}
}
@media screen and (max-width:1023px) {
	header {
		height: auto;
		padding: 10px 0;
		background: rgba(0, 0, 0, .7);
		position: absolute;
		left: 0;
		top: 0;
		background-color: $background-color_2;
	}
	.btn-border {
		height: 42px;
		font-size: 14px;
		line-height: 16px;
		padding: 12px 14px 0;
	}
	.fp-tableCell {
		.wrapper {
			padding-right: 43px;
		}
		padding-bottom: 45px;
	}
	.main-pagination {
		right: 10px;
	}
	.fullpage-nav {
		right: 5px;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	.fullpage-nav-icon {
		&:after {
			display: none;
		}
		bottom: 37px;
	}
	.wrapper {
		z-index: 2;
	}
	.section {
		h2 {
			z-index: 2;
			position: relative;
		}
	}
	.contacts-row {
		display: block;
		padding-right: 0;
	}
	.contacts-inf {
		margin-bottom: 40px;
		h2 {
			margin-bottom: 0;
		}
	}
	.section-white-img {
		width: 250px;
	}
	.study-row {
		display: block;
	}
	.study-row__text {
		padding-right: 0;
		margin-bottom: 40px;
	}
	.study-row__slider {
		width: 100%;
	}
	.study-slider__item {
		margin: 0;
		padding: 5px;
	}
	.slick-arrow {
		top: 100%;
		width: 46px;
		height: 24px;
		i {
			display: block;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: center center;
			transform-origin: center center;
		}
	}
	.slick-next {
		right: calc(50% + 25px);
	}
	.slick-prev {
		right: calc(50% - 75px);
	}
	.contacts-form {
		width: 100%;
		max-width: 100%;
		h2 {
			margin-bottom: 15px;
		}
	}
	.study-slider {
		.slick-track {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.social-list {
		margin-bottom: 23px;
	}
}
@media screen and (max-width:767px) {
	.logo {
		width: 66px;
	}
	header {
		.wrapper {
			padding-right: 20px;
		}
	}
	.wrapper {
		padding: 0 20px;
	}
	.fp-tableCell {
		.wrapper {
			padding-right: 20px;
		}
	}
	.fullpage-nav-icon {
		display: none;
	}
	.fullpage-nav {
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	body {
		&:not(.fp-viewing-main) {
			.main-pagination__item {
				margin-bottom: 9px;
			}
		}
	}
	.main-pagination {
		right: 10px;
		top: 80px;
		height: auto;
	}
	h1 {
		font-size: 40px;
		line-height: 45px;
		padding: 9px 0;
	}
	h2 {
		font-size: 40px;
		line-height: 45px;
		padding: 9px 0;
	}
	p {
		padding: 9px 0;
		line-height: 23px;
		font-size: 14px;
	}
	.study-row__text {
		p {
			font-size: 14px;
		}
	}
	.section-white-img {
		display: none;
	}
	.bg-text {
		font-size: 12.5vw;
	}
}
@media screen and (max-width:480px) {
	.logo {
		width: 56px;
	}
	.button-nav {
		width: 28px;
		height: 28px;
		span {
			&:after {
				width: 28px;
			}
			&:before {
				width: 28px;
			}
		}
	}
	header {
		.btn-border {
			margin-right: 18px;
		}
	}
	.btn-border {
		height: 29px;
		font-size: 11px;
		line-height: 14px;
		padding: 6px 10px 0;
	}
	.main-nav {
		padding-top: 56px;
	}
	.main-nav-list__link {
		font-size: 24px;
		line-height: 40px;
	}
	.section {
		h2 {
			span {
				font-size: 14px;
				line-height: 18px;
				display: block;
			}
			margin-bottom: 0;
		}
		h1 {
			margin-bottom: 0;
		}
	}
	.fp-tableCell {
		padding-bottom: 15px;
	}
	h1 {
		font-size: 30px;
		line-height: 35px;
		padding: 5px 0;
	}
	h2 {
		font-size: 30px;
		line-height: 35px;
		padding: 5px 0;
	}
	.tecnhology-list {
		padding-left: 15px;
	}
	.tecnhology-list__item {
		font-size: 14px;
		line-height: 18px;
	}
	.section-paint {
		p {
			padding: 0;
			margin-top: 20px;
		}
	}
	.study-row__text {
		margin-bottom: 0;
		p {
			display: none;
		}
	}
	.section-study {
		h2 {
			margin-bottom: 5px;
		}
	}
	.study-row {
		.tecnhology-list {
			margin-bottom: 7px;
		}
		padding-bottom: 35px;
		.tecnhology-list__item {
			font-size: 14px;
		}
	}
	.tabs {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 10px;
		li {
			width: 50%;
			margin-bottom: -1px;
			margin-right: -1px;
		}
	}
	.tabs__link {
		height: 28px;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		padding: 5px 15px 0;
		border-color: $border-color_2;
	}
	.contacts-form {
		form {
			font-size: 20px;
			line-height: 25px;
		}
		h2 {
			font-size: 20px;
			line-height: 25px;
		}
	}
	.contacts-inf {
		h2 {
			font-size: 20px;
			line-height: 25px;
		}
		margin-bottom: 20px;
	}
	.form-control {
		font-size: 12px;
		line-height: 18px;
		padding: 7px 0;
	}
	.helper-text {
		padding-top: 4px;
	}
	.box-field {
		margin-bottom: 3px;
		padding-bottom: 16px;
	}
	textarea.form-control {
		min-height: 50px;
	}
	.btn-send {
		font-size: 20px;
		line-height: 25px;
	}
	.section-contact {
		.fp-tableCell {
			vertical-align: bottom;
			padding-bottom: 15px;
		}
	}
	.social-list {
		margin-bottom: 15px;
	}
	.social-list__item {
		margin-right: 10px;
	}
	.contact-inf__link {
		font-size: 12px;
		line-height: 16px;
		i {
			font-size: 14px;
		}
		i.icon-mail {
			font-size: 11px;
		}
	}
	.contact-inf__item {
		margin-bottom: 9px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.social-list__link {
		font-size: 25px;
		i {
			display: block;
		}
	}
	.contact-inf {
		margin: 10px 0;
	}
	.slick-dots {
		button {
			width: 16px;
			height: 4px;
		}
	}
	.works-slider {
		.slick-dots {
			margin-top: 5px;
		}
	}
	.works-slider__cont {
		left: 0;
		padding: 15px 5px;
		width: 100%;
		background-color: $background-color_7;
		height: auto;
		top: auto;
		bottom: 0;
	}
	.works-slider__desc {
		font-size: 13px;
		line-height: 15px;
		padding: 5px;
	}
	.works-slider__tags {
		padding-top: 5px;
	}
	.works-slider__links {
		margin-top: 5px;
	}
	.works-slider__name {
		font-size: 18px;
		line-height: 20px;
	}
	.contacts-form__logo {
		display: none;
	}
}
@media screen and (max-height:900px)and (min-width:1024px) {
	.fp-tableCell {
		padding-bottom: 50px;
	}
	.section-portfolio {
		h2 {
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width:1300px) {
	.section-white-img {
		width: 400px;
	}
	.contacts-form {
		max-width: 490px;
	}
	.contacts-row {
		padding-right: 0;
	}
}
@media screen and (max-width:1100px) {
	.main-pagination__text {
		display: none;
	}
	.fp-tableCell {
		.wrapper {
			padding-right: 138px;
		}
	}
}
@media screen and (max-width:1023px)and (orientation:landscape) {
	.warn-landscape {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;
		background: #000;
		color: $color_1;
		font-size: 4vw;
		line-height: 4.5vw;
	}
}
@media min-width:500px) {
	.vue-lb-thumbnail-arrow {
		width: 40px;
	}
}
@media min-width:768px) {
	.vue-lb-arrow {
		width: 70px;
	}
}
